<% include header %>
<main>
  <header>
    <h1>Account</h1>
  </header>
  <section>
    <p>Deze pagina krijg je enkel te zien als je bent ingelogd en bevat geschiedenis en voorkeuren.</p>
  </section>
</main>
<% include footer %>
