<% include header %>
<main>
  <header>
    <h1>Contact</h1>
  </header>
  <section class='content'>
    <p>Hoe kunnen wij u helpen?</p>
    <p>Laat uw opmerking, klacht of vraag hier achter!</p>

  <form>
    <input name="name" type="text" class="feedback-input" placeholder="Uw naam en achternaam" required />
    <input name="email" type="text" class="feedback-input" placeholder="Vul uw email in" pattern="[^@\s]+@[^@\s]+" required />
    <select class="feedback-input" name="choice">
        <option value="Opmerking">Opmerking</option>
        <option value="Vraag">Vraag</option>
        <option value="Klacht over locatie">Klacht over locatie</option>
        <option value="Klacht over app">Klacht over app</option>
    </select>
    <textarea name="text" class="feedback-input" placeholder="Typ hier uw bericht" required></textarea>
    <input type="submit" value="Verzenden"/>
  </form>

  </section>
</main>
<% include footer %>
