<!DOCTYPE html>
<html>
  <head>
      <title>Home</title>
      <meta name="charset" content="UTF-8">
      <!-- Public moet hier NIET voorstaan -->
      <link rel="stylesheet" href="/css/reset.css">
      <link rel="stylesheet" href="/css/style.css">
      <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height, target-densitydpi=device-dpi" />
      <link href="https://fonts.googleapis.com/css?family=Alatsi|Roboto&display=swap" rel="stylesheet">
  </head>
  <img class='logo' src="/images/logo.png" alt="HeritApp Logo" width="250">
  <body>
