<!DOCTYPE html>
<html>
  <head>
      <title>Home</title>
      <meta name="charset" content="UTF-8">
      <!-- Public moet hier NIET voorstaan -->
      <link rel="stylesheet" href="/css/reset.css">
      <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <% include nav %>
