<% include header %>
<main>
  <header>
    <h1>HeritApp</h1>
  </header>
  <section class='content'>
    <p>Hier komt een algemene uitleg van het project.</p>
  </section>
</main>
<% include footer %>
