<% include header %>
<main>
  <header>
    <h1>HeritApp</h1>
  </header>
  <section class='content'>
    <p>Heritapp geeft een duidelijk overzicht van jouw favoriete erfgoedlocaties in Antwerpen. <br><br>
      Door de gebruiksvriendelijke iconen kan je met filters snel en efficiënt jouw ideale locatie zoeken.
      Zo kan je gaan filteren op soorten erfgoedlocaties, maar ook sorteren op populariteit en toegankelijkheid.
      Je kan de locaties ook bekijken op een kaart.

      <br><br> De app is ontwikkeld voor alle leeftijden die geïnteresseerd zijn in de Antwerpse erfgoedlocaties. <br><br>

      Deze app is gemaakt door drie studenten grafische en digitale media crossmedia ontwerp. We zijn heel geïnteresseerd in cultuur, maar na wat research
      zijn we tot de vaststelling gekomen dat hier geen app, website, etc. van bestaat voor Antwerpen. De app die wij aanbieden is door behulp van bepaalde features
      zeer overzichtelijk. </p>
      <div class="fotocontainer">
      <img src="/images/kimberly.jpg" alt="foto kimberly" class="imagekimberly">
      <img src="/images/lies.jpg" alt="foto kimberly" class="imagelies">
      <img src="/images/evie.jpg" alt="foto kimberly" class="imageevie">
      </div>
     <p>  Wil je in het vervolg iets leuk gaan doen op een vrije dag? Raadpleeg dan onze app en in een makkelijk overzicht kom je heel snel alle informatie te weten!</p>
  </section>

</main>
<% include footer %>
