<nav class="nav">
  <ul>
    <li><a href="/" class="current">Home</a></li>
    <li><a href="/kaart" class="current">Ontdek</a></li>
    <li><a href="/overzicht" class="current">Overzicht</a></li>
    <li><a href="/contact" class="current">Contact</a></li>
  </ul>
</nav>

<script src="/js/navscroll.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script src="/js/stickup.min.js"></script>
<script src="/js/stickup.js"></script>
