<% include header %>
<main>
  <header>
    <h1>Overzicht</h1>
  </header>
  <section>
    <p>Hier komt een overzicht waar je kan filteren.</p>
  </section>

<section>
  <% for (var i=0; i < information.length; i++)  { %>
     	<p> straat: <%= information[i].attributes.straat%></p>
  <% } %>
</section>



</main>
<% include footer %>
