body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(195,0,0,1) 0%, rgba(111,0,145,1) 100%);
}

section  p {
  /*color: white; wou dit gebruiken voor de tekst bij homepagina wit te behouden, maar nu is ook de tekst bij het overzicht wit, dus zal een andere oplossing moeten zoeken*/
}
#mapid {
/*  height: 50vh;
  width: 90vw;*/
  width: 70%;
}

.itemoverzicht, .grid {
  background-color: white;
  margin: 1em;
  padding: 1em;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  box-shadow: 1px;

}
.itemoverzicht{ /*eigen aanpassing*/
  width: 50vw;
}

.grid {
  background-color: lightgrey;
  border-radius: 0%;
}

.filtersorteer {
  text-align: center;
  margin: 1em;
  padding: 1em;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}
