body {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(195,0,0,1) 0%, rgba(111,0,145,1) 100%);
}

section  p {
  /*color: white; wou dit gebruiken voor de tekst bij homepagina wit te behouden, maar nu is ook de tekst bij het overzicht wit, dus zal een andere oplossing moeten zoeken*/
}
#mapid {
/*  height: 50vh;
  width: 90vw;*/
  width: 70%;
}

.itemoverzicht, .grid {
  background-color: white;
  margin: 1em;
  padding: 1em;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
  border-radius: 5%;
  box-shadow: 1px;

}
.itemoverzicht{ /*eigen aanpassing*/
  width: 50vw;
}

.grid {
  background-color: lightgrey;
  border-radius: 0%;
}

.filtersorteer {
  text-align: center;
  margin: 1em;
  padding: 1em;
  width: 70vw;
  margin-left: auto;
  margin-right: auto;
}


/* onderstaande code is het CONTACTFORMULIER op de CONTACTPAGINA */

form { max-width:420px; margin:50px auto; }

.feedback-input {
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-weight:500;
  font-size: 18px;
  border-radius: 5px;
  line-height: 22px;
  background-color: transparent;
  border:2px solid white;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
  outline:0;
}

.feedback-input:focus { border:2px solid #CC4949; }

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
}

::placeholder {
  color: white;
  opacity: 50%;
}

[type="submit"] {
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
  width: 100%;
  background:#CC6666;
  border-radius:5px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
  transition: all 0.3s;
  margin-top:-4px;
  font-weight:700;
}
[type="submit"]:hover { background:#CC4949; }
